@import "tools/extends";
@import "tools/helpers";

@import "objects/forms";

@import "components/index";
@import "components/login";
@import "components/nav-tabs";


.bert-alert.notification {
  background: #FF4081;
  color: #fff;
}

.spacedButton {
  margin-left: 10px;
  margin-right: 10px;
}
